body[data-theme="light"] {
  --bg-color: #f5f7fa;
  --text-color: #222;
  --form-bg: #ffffff;
  --input-bg: #fafafa;
  --border-color: #ccc;
  --btn-bg: linear-gradient(to right, #007bff, #00c6ff);
  --box-border: 2px solid rgba(0, 4, 8, 0.3);
  --box-shadow: 0 0 20px rgba(0, 5, 10, 0.2);
}

body[data-theme="dark"] {
  --bg-color: #1e1e2f;
  --text-color: #f1f1f1;
  --form-bg: #2a2a40;
  --input-bg: #3a3a55;
  --border-color: #555;
  --btn-bg: linear-gradient(to right, #00c6ff, #007bff);
  --box-border: 2px solid rgba(0, 198, 255, 0.4);
  --box-shadow: 0 0 25px rgba(0, 198, 255, 0.25);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.forgot-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  transition: background 0.4s ease;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.theme-toggle:hover {
  transform: rotate(20deg) scale(1.1);
  color: #00c6ff;
}

.forgot-container {
  background: var(--form-bg);
  color: var(--text-color);
  padding: 40px;
  border-radius: 15px;
  border: var(--box-border);
  box-shadow: var(--box-shadow);
  width: 350px;
  text-align: center;
  transition: all 0.4s ease;
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
  color: var(--text-color);
}

label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: var(--input-bg);
  color: var(--text-color);
  outline: none;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: var(--button-gradient); 
  color: white;
  font-size: 1.15rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}
button:hover {
  transform: scale(1.05);
}

.back-login {
  display: block;
  margin-top: 15px;
  color: rgb(17, 1, 17);
  text-decoration: none;
}
.back-login:hover {
  text-decoration: underline;
}
